@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

.container {
  padding: 0 100px;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .container {
    padding: 0 50px;
  }
}
@media (maxwidth: 1200px) {
  .container {
    padding: 0 20px;
  }
}
.container__two {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 50px 0;
}
@media (max-width: 768px) {
  .section {
    padding: 25px 0;
  }
}

.bg__img {
  width: 100%;
  height: 100vh;
  background: url(../images/banner/bg.jpg) center/cover no-repeat fixed;
}
@media (max-width: 768px) {
  .bg__img {
    overflow: hidden;
  }
}

.bg {
  background: #e6f2f2;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  line-height: 64px;
  color: #29353e;
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 42px;
  }
}

.scroll {
  display: none;
}

@media (max-width: 768px) {
  .scroll {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .scroll__icon {
    position: relative;
    right: 0;
    animation: arrow-right 0.4s linear infinite alternate;
  }
  .scroll__icon.rotate {
    transform: rotate(180deg);
    position: relative;
    left: 0;
    animation: arrow 0.4s linear infinite alternate;
  }
  @keyframes arrow-right {
    0% {
      left: 0;
    }
    100% {
      left: 20px;
    }
  }
  @keyframes arrow {
    0% {
      left: 0;
    }
    100% {
      left: 20px;
    }
  }
}
.header__body {
  display: flex;
  height: 80px;
  align-items: center;
}
@media (max-width: 768px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__logo {
  flex: 0 0 150px;
  display: block;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .header__logo {
    margin: 0 auto;
    flex: 0 0 120px;
  }
}
.header__burger {
  display: none;
}
.header__menu {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 80px;
}
@media (max-width: 992px) {
  .header__menu {
    padding-left: 30px;
  }
}
.header__list {
  display: flex;
  gap: 30px;
}
.header__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  fill: #fff;
  transition: all 0.3s ease;
}
.header__link:hover {
  color: rgba(255, 255, 255, 0.8);
  fill: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1500px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .header__link {
    font-size: 20px;
  }
}
.header__phone {
  display: flex;
  gap: 30px;
}
.header__btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid rgba(17, 102, 138, 0.9);
  background: rgba(41, 145, 190, 0.9);
}
.header__btn:hover {
  background: rgba(17, 102, 138, 0.9);
}

@media (max-width: 768px) {
  .header__body {
    height: 80px;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.5s ease;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    display: block;
    margin: 0 auto;
    padding: 0;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    transition: all 0.5s ease;
  }
  .header__menu.active {
    left: 0;
  }
  .header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
  .header__phone {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
}
.icon-phone {
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.banner__body {
  display: flex;
  justify-content: space-between;
}
.banner__content {
  padding: 20px;
}
@media (max-width: 768px) {
  .banner__content {
    margin: 0 auto;
    padding: 0;
  }
}
.banner__subtitle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}
.banner__subtitle span {
  color: #ff922f;
}
@media (max-width: 1500px) {
  .banner__subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .banner__subtitle {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.banner__title {
  margin-bottom: 15px;
  max-width: 799px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}
@media (max-width: 1500px) {
  .banner__title {
    font-size: 50px;
    line-height: 55px;
  }
}
@media (max-width: 768px) {
  .banner__title {
    max-width: 316px;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.banner__text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}
@media (max-width: 1500px) {
  .banner__text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .banner__text {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.banner__btn {
  display: grid;
  grid-template-columns: repeat(2, 284px);
  gap: 52px;
}
.banner__btn li {
  transition: all 0.3s ease;
}
.banner__btn li:hover {
  transform: scale(1.1);
}
@media (max-width: 1500px) {
  .banner__btn {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .banner__btn {
    grid-template-columns: repeat(2, 1fr);
  }
}
.banner__iteam {
  padding: 34px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  transition: all 0.5s ease;
}
@media (max-width: 1500px) {
  .banner__iteam {
    padding: 15px 0;
  }
}
@media (max-width: 768px) {
  .banner__iteam {
    font-size: 18px;
  }
}
.banner__image img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1500px) {
  .banner__image img {
    max-width: 450px;
  }
}
@media (max-width: 992px) {
  .banner__image {
    display: none;
  }
}

.color__btn1 {
  background: rgba(163, 207, 39, 0.9);
}
.color__btn1:hover {
  background: #fff;
  color: rgba(163, 207, 39, 0.9);
}

.color__btn2 {
  background: rgba(255, 230, 0, 0.75);
}
.color__btn2:hover {
  background: #fff;
  color: #ff9900;
}

.color__btn3 {
  background: rgba(242, 138, 47, 0.9);
}
.color__btn3:hover {
  background: #fff;
  color: rgba(242, 138, 47, 0.9);
}

.color__btn4 {
  background: rgba(41, 145, 190, 0.9);
}
.color__btn4:hover {
  background: #fff;
  color: rgba(41, 145, 190, 0.9);
}

.btn__img {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .btn__img {
    margin-right: 7px;
    max-width: 30px;
  }
}

.bannerspring {
  margin-top: -80px;
  padding: 119px 0 37px 0;
  background: url(../images/spring/fon.jpg) center/cover;
}
@media (max-width: 768px) {
  .bannerspring {
    padding: 89px 0 37px 0;
  }
}
.bannerspring__body {
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .bannerspring__body {
    display: block;
    text-align: center;
  }
}
.bannerspring__content {
  position: relative;
  z-index: 2;
}
.bannerspring__title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
@media (max-width: 768px) {
  .bannerspring__title {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 35px;
  }
}
.bannerspring__title span {
  margin-left: 5px;
  padding: 0 5px;
  background: #04b4ff;
  border-radius: 5px;
}
.bannerspring__title::before {
  content: "";
  margin-right: 20px;
  width: 42px;
  height: 42px;
  background: url(../images/icons/Cherry.png) center no-repeat;
}
@media (max-width: 768px) {
  .bannerspring__title::before {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/icons/Cherry.png) center/20px no-repeat;
  }
}
.bannerspring__data {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.bannerspring__data::before {
  content: "";
  margin-right: 20px;
  width: 42px;
  height: 42px;
  background: url(../images/spring/Calendar.svg) center/35px no-repeat;
}
@media (max-width: 768px) {
  .bannerspring__data::before {
    margin-right: 5px;
    background: url(../images/spring/Calendar.svg) center/25px no-repeat;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .bannerspring__data {
    font-size: 20px;
    line-height: 30px;
  }
}
.bannerspring__text {
  display: flex;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.bannerspring__text::before {
  content: "";
  margin-right: 20px;
  width: 42px;
  height: 42px;
  background: url(../images/spring/Fire.svg) center no-repeat;
}
@media (max-width: 768px) {
  .bannerspring__text::before {
    margin-right: 5px;
    background: url(../images/spring/Fire.svg) center/25px no-repeat;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .bannerspring__text {
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
  }
}
.bannerspring__price {
  padding: 0 62px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #00c6f7;
}
@media (max-width: 768px) {
  .bannerspring__price {
    font-size: 34px;
    line-height: 40px;
  }
}
.bannerspring__oldprice {
  padding: 0 62px;
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #a6a0a0;
  text-decoration: line-through;
}
@media (max-width: 768px) {
  .bannerspring__oldprice {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 25px;
  }
}
.bannerspring__btn {
  display: grid;
  grid-template-columns: repeat(2, 270px);
  gap: 65px;
}
@media (max-width: 768px) {
  .bannerspring__btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.bannerspring__link {
  display: flex;
  justify-content: center;
  padding: 17px 0;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}
@media (max-width: 768px) {
  .bannerspring__link {
    font-size: 20px;
    padding: 13px 0;
  }
}
.bannerspring__image {
  position: absolute;
  bottom: -30px;
  right: 0;
}
.bannerspring__image img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .bannerspring__image {
    display: none;
  }
}

.link__color {
  color: #ffffff;
  fill: #fff;
  background: #00c6f7;
  transition: all 0.5s ease;
}
.link__color:hover {
  color: #00c6f7;
  fill: #00c6f7;
  background: rgba(0, 198, 247, 0);
  border: 3px solid #00c6f7;
  transform: scale(1.1);
}

.link__color2 {
  color: #00c6f7;
  fill: #00c6f7;
  border: 3px solid #00c6f7;
  transition: all 0.5s ease;
}
.link__color2:hover {
  background: #00c6f7;
  color: #fff;
  fill: #fff;
  border: 3px solid #00c6f7;
  transform: scale(1.1);
}

.icon-arrow {
  margin-left: 10px;
  position: relative;
  top: 4px;
  width: 16px;
  height: 25px;
}
@media (max-width: 768px) {
  .icon-arrow {
    top: 2px;
    width: 8px;
    height: 20px;
  }
}

.terms {
  background: radial-gradient(50% 2317.79% at 100% 50%, #a8eae6 4.49%, rgba(182, 235, 232, 0.807985) 22.83%, rgba(242, 239, 239, 0) 100%), radial-gradient(71.1% 1780.59% at 11.59% 28.9%, #a8eae6 0%, rgba(242, 239, 239, 0) 100%);
}
.terms__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  overflow-x: scroll;
}
.terms__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.terms__image img {
  max-width: 100%;
}
.terms__text {
  margin-top: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #29353e;
}
@media (max-width: 768px) {
  .terms__text {
    font-size: 18px;
    line-height: 20px;
  }
}

.team__title {
  margin-bottom: 50px;
}
.team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}
@media (max-width: 768px) {
  .team__list {
    display: block;
  }
}
.team__cards {
  padding: 24px 7px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 335px;
}
@media (max-width: 768px) {
  .team__cards {
    margin-bottom: 15px;
  }
}
.team__image {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.team__image img {
  max-width: 100%;
}
.team__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #29353e;
}
.team__text {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #29353e;
}
.team__text span {
  font-weight: 500;
}
.team__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #29353e;
}

.info__title {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .info__title {
    margin-bottom: 25px;
  }
}
.info__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}
@media (max-width: 768px) {
  .info__list {
    display: block;
  }
}
.info__cards {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 355px;
}
@media (max-width: 768px) {
  .info__cards {
    margin-bottom: 15px;
  }
}
.info__subtitle {
  padding: 10px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #29353e;
}
.info__image {
  margin-bottom: 8px;
}
.info__image img {
  max-width: 100%;
}
.info__text {
  padding: 0 10px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #29353e;
}

.active__title {
  margin-bottom: 50px;
}
.active__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 30px;
  overflow-x: scroll;
}
@media (max-width: 768px) {
  .active__list {
    gap: 15px;
  }
}
.active__cards {
  padding: 15px 0;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.active__image {
  display: flex;
  justify-content: center;
}
.active__image img {
  max-width: 60px;
}
.active__text {
  padding: 7px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #29353e;
}

.days__title {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .days__title {
    margin-bottom: 25px;
  }
}

.days__list {
  margin: 0 auto;
  max-width: 905px;
  max-height: 550px;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .days__list {
    max-width: 377px;
    max-height: 420px;
  }
}

.days__cards {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.days__time {
  margin-left: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  position: relative;
  color: #29353e;
}
@media (max-width: 768px) {
  .days__time {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 926px) {
  .days__width {
    max-width: 107px;
  }
  .days__width span {
    display: none;
  }
}
@media (max-width: 768px) {
  .days__width {
    max-width: 54px;
  }
}

.days__line {
  position: relative;
  margin-left: 10px;
  width: 123px;
  height: 3px;
  background: #00b61d;
}
@media (max-width: 768px) {
  .days__line {
    width: 50px;
  }
}

.days__line::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00b61d;
}
@media (max-width: 768px) {
  .days__line::before {
    width: 12px;
    height: 12px;
    top: -5px;
  }
}

.days__icon {
  max-width: 25px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .days__icon {
    max-width: 25px;
    height: 25px;
  }
}

.days__positions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
  position: relative;
  z-index: 2;
  width: 500px;
  background: #000;
  background: #ff9700;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .days__positions {
    padding: 10px 10px;
    width: 270px;
  }
}

.days__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .days__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
  transition: all 0.8s ease;
}
.popup__wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content {
  display: flex;
  position: relative;
  max-width: 800px;
  background: #e6f2f2;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease;
  border-radius: 17px;
}
.popup__image img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .popup__image {
    display: none;
  }
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  font-size: 20px;
  color: #000;
  transition: all 0.3s ease;
}
.popup__close:hover {
  color: red;
}
.popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.anketa {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px 27px 30px;
}
.anketa__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  color: #29353e;
  text-align: center;
}
@media (max-width: 768px) {
  .anketa__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.anketa__list {
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #29353e;
}
.anketa__list li {
  margin-bottom: 20px;
}
.anketa__list li:last-child {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .anketa__list {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}
.anketa__input {
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #29353e;
  background: #e6f2f2;
  border-bottom: 2px solid #29353e;
}
@media (max-width: 768px) {
  .anketa__input {
    text-align: center;
  }
}
.anketa__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 18px 28px;
  background: #00c6f7;
  border-radius: 15px;
  font-size: 22px;
  color: #fff;
  transition: all 0.5s ease;
}
.anketa__btn:hover {
  background: #d34a42;
  color: #eaf2b2;
}
@media (max-width: 768px) {
  .anketa__btn {
    font-size: 16px;
    width: 250px;
    height: 52px;
  }
}

.anketa__input._error {
  box-shadow: 0 0 20px red;
}

.anketa::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8) url(../images/Dual.gif) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}

.anketa._sending::after {
  opacity: 1;
  visibility: visible;
}

.container__two.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}